.costumers {
    padding-top: 59px;
    padding-bottom: 94px;
}

.costumers-title {
    color: $secondary-title-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.costumers-list {
    display: flex;
    gap: 30px;

}

.costumers-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
            border-color: $active-color;
            @extend %transition !optional;
        }

}

.costumers-svg {
    fill: #AFB1B8;

}

.costumers-item:hover .costumers-svg {
    fill: $active-color;
    @extend %transition !optional;
}