// footer {
//     background: #2F303A;
//     display: flex;
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer-box-parent {
//     display: flex;
// }

// .logostudio2 {
//     color: #FFF;
//     font-family: Raleway;
//     font-size: 26px;
//     font-weight: 700;
//     letter-spacing: 0.78px;
//     display: flex;
//     margin-bottom: 20px;
// }

// .address {
//     width: 231px;
//     height: 21px;
//     color: #FFF;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 171%;
//     letter-spacing: 0.42px;
// }

// .mail {
//     width: 136px;
//     height: 21px;
//     color: rgba(255, 255, 255, 0.60);
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 171%;
//     letter-spacing: 0.42px;
// }

// .phone {
//     width: 231px;
//     height: 21px;
//     color: rgba(255, 255, 255, 0.60);
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 171%;
//     letter-spacing: 0.42px;
// }

// .footer-box2 {
//     padding-left: 70px;
// }

// .footer-join {
//     color: #FFF;
//     font-size: 14px;
//     font-weight: 700;
//     letter-spacing: 0.42px;
//     text-transform: uppercase;
// }

// .footer-icon-list {
//     display: flex;
//     padding-top: 32px;
//     fill: $primary-title-color;
// }

// .footer-icon-item {
//     margin-right: 12px;
//     padding: 12px 12px;
//     border-radius: 50%;
//     background: rgba(255, 255, 255, 0.10);

//     &:hover {
//         background: $active-color;
//     }
// }

// .footer-box3 {
//     padding-left: 93px;
// }

// .subscription-box {
//     margin-top: 20px;
//     display: flex;
// }

// .subscription-input {
//     width: 358px;
//     height: 50px;
//     border-radius: 4px;
//     border: 1px solid rgba(255, 255, 255, 0.30);
//     background: rgba(33, 150, 243, 0.00);
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
//     margin-right: 12px;
//     color: #fff;
// }

// .subscription-button {
//     border: none;
//     display: flex;
//     color: #FFF;
//     text-align: center;
//     font-family: Roboto;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 30px;
//     letter-spacing: 0.96px;
//     align-items: center;
//     text-align: center;
//     padding: 10px 52px;
//     border-radius: 4px;
//     background: $active-color;
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
// }

// .subscription-svg {
//     fill: #FFF;
//     align-items: center;
// }

///////////////////////// mobile////////////////////

.footer {
  background: #2f303a;
  padding: 60px 0;
  text-align: center;
}

.footer-box-parent {
  display: flex;
  flex-direction: column;
}

.footer-box1 {
}

.logostudio2 {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
}

.logoweb2 {
  width: 154px;
  color: #2196f3;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
}

.address {
  // width: 231px;
  height: 21px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  align-items: center;
  justify-content: center;
}

.mail {
  width: 232px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.phone {
  width: 232px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-box2 {
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
}

.footer-join {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-icon-list {
  display: flex;
  padding-top: 32px;
  fill: $primary-title-color;
  justify-content: center;
}

.footer-icon-item {
  margin-right: 10px;
  padding: 12px 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background: $active-color;
  }
}

.footer-box3 {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

.subscription-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.subscription-lable {
  padding-bottom: 20px;
}

.subscription-input {
  // width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  // margin-right: 12px;
  color: #fff;
  width: 450px;
}

.subscription-button {
  border: none;
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  align-items: center;
  text-align: center;
  padding: 10px 52px;
  border-radius: 4px;
  background: $active-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  margin: 0 auto;
}

.subscription-svg {
  fill: #fff;
  align-items: center;
}

///////////////////////// tablet////////////////////

@media screen and (min-width: 768px) {
  footer {
    background: #2f303a;
    padding: 60px 0;
    text-align: center;
  }

  .footer-box-parent {
    display: flex;
    flex-direction: column;
  }

  .foter_box_1_2 {
    display: flex;
  }

  .footer-box1 {
    padding-left: 76px;
  }

  .logostudio2 {
    color: #fff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }

  .logoweb2 {
    width: 154px;
    color: #2196f3;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }

  .address {
    // width: 231px;
    height: 21px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    align-items: center;
    justify-content: center;
  }

  .mail {
    width: 232px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .phone {
    width: 232px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  .footer-box2 {
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    padding-top: 0;
  }

  .footer-join {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .footer-icon-list {
    display: flex;
    padding-top: 32px;
    fill: $primary-title-color;
    justify-content: center;
  }

  .footer-icon-item {
    margin-right: 10px;
    padding: 12px 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    &:hover {
      background: $active-color;
    }
  }

  .footer-box3 {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
  }

  .subscription-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .subscription-lable {
    padding-bottom: 20px;
  }

  .subscription-input {
    width: 450px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  .subscription-button {
    border: none;
    display: flex;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    align-items: center;
    text-align: center;
    padding: 10px 52px;
    border-radius: 4px;
    background: $active-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    margin: 0 auto;
  }

  .subscription-svg {
    fill: #fff;
    align-items: center;
  }
}

///////////////////////// desktop////////////////////

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }

  .footer-box-parent {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .footer-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .logostudio2 {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    padding-bottom: 20px;
  }

  .logoweb2 {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }

  .address {
    width: 231px;
    height: 21px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .mail {
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    flex-direction: row;
  }

  .phone {
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    flex-direction: row;
  }
  .footer-box2 {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 93px;
  }

  .footer-join {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .footer-icon-list {
    width: 206px;
    height: 44px;
    padding: 0;
  }

  .footer-icon-item {
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
  }

  .footer-svg {
    width: 20px;
    height: 20px;
  }

  .footer-box3 {
    display: flex;
    align-items: flex-start;
    padding: 0;
  }

  .footer-join {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .subscription-box {
    display: flex;
    flex-direction: row;
  }

  .subscription-lable {
    padding-right: 12px;
  }

  .subscription-input {
    border-radius: 4px;

    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .subscription-button {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    height: 50px;
    padding-left: 28px;
    padding-right: 3px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .subscription-svg {
    width: 24px;
    height: 24px;
  }
}
